<header>
  <div class="container-fluid h-100">
    <nav class="navbar-vertical h-100">
      <div class="row h-100">
        <div class="col-12 col-md-4 col-lg-3 h-100">
          <div class="logo-menu-container h-100">
            <a class="navbar-brand" href="../index.html">
              <img src="../assets/logo.png" alt="Logo du Domaine de la Fauchetière" class="img-fluid">
            </a>
            <ul class="navbar-nav w-100">
              <li class="nav-item fw-bolder"><a class="nav-link" href="../index.html">ACCUEIL</a></li>
              <li class="nav-item fw-bolder"><a class="nav-link" href="../Pages/farming.html">L'ELEVAGE</a></li>
              <li class="nav-item fw-bolder"><a class="nav-link" href="race.html?breed=spitzLoup">SPITZ LOUP</a></li>
              <li class="nav-item fw-bolder"><a class="nav-link" href="race.html?breed=bergerAllemand">BERGER ALLEMAND</a></li>
              <li class="nav-item fw-bolder"><a class="nav-link" href="race.html?breed=bouvier">BOUVIER BERNOIS</a></li>
              <li class="nav-item fw-bolder"><a class="nav-link" href="../Pages/gallery.html">GALERIE</a></li>
              <li class="nav-item fw-bolder"><a class="nav-link" href="footer.html">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>