@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&family=Source+Code+Pro&display=swap");

/* .abel {
  font-family: "Abel", sans-serif;
}
.lato {
  font-family: "Lato", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.open {
  font-family: "Open Sans", sans-serif;
} 
*/
/* .source {font-family: "Source Code Pro", monospace;} */
.raleway {
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url("./assets/nav.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px; /* Hauteur fixe pour l'en-tête */
}

.logo-menu-container {
  background-color: rgba(246, 246, 242, 0.7);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer le contenu verticalement */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item + .nav-item {
  margin-top: 0.5rem; /* Ajoute un peu d'espace entre les liens pour les écrans plus petits */
}

.nav-link {
  text-decoration: none; /* Enlève le soulignement par défaut */
  position: relative; /* Position relative pour le positionnement du pseudo-élément */
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.10em;
  width: 100%;
  height: 2px;
  background-color: transparent; /* Initialement transparent */
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}
.nav-link:hover::after {
  background-color: #FBEE66; /* Couleur jaune au survol */
}

.btn-primary {
  background-color: #007bff; /* Couleur du bouton */
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3; /* Couleur du bouton au survol */
  color: white;
}
h2 {
  text-align: center;
  font-weight: bold; 
  position: relative;
  margin-bottom: 1em;
}

h2::after {
  content: ''; /* Créer un pseudo-élément pour le soulignement */
  position: absolute;
  left: 50%; /* Centrer le soulignement */
  transform: translateX(-50%); /* Aligner correctement le soulignement */
  bottom: -10px; /* Position sous le texte */
  height: 2px; /* Épaisseur du soulignement */
  width: 20%; /* Largeur du soulignement */
  background-color: #FBEE66; /* Couleur du soulignement */
}
.race-card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.race-name,
.race-description {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: transform 0.3s ease; /* Animation de transition */
}

.race-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: bottom 0.3s ease;
}

.race-description {
  position: absolute;
  bottom: -100%; /* Démarre en dehors de la vue en bas */
  left: 0;
  width: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.race-card:hover {
  transform: scale(1.05); /* Léger effet de zoom au survol */
}
.race-card:hover .race-name {
  bottom: 65%; /* Déplace le titre vers le haut à la hauteur de la description */
}
.race-card:hover .race-description {
  opacity: 1;
  /* transform: translateY(-100%);  */
  bottom: 0;
}

.race-card:hover .race-name {
  transform: translateY(-100%); /* Déplace le titre vers le haut */
}

/* Styles responsives spécifiques à Bootstrap */
@media (max-width: 767.98px) {
  .logo-menu-container {
    padding: 0.5rem;
  }

  header {
    height: auto; /* Hauteur auto pour les petits écrans */
  }

  .navbar-nav {
    text-align: center;
  }
}
/* Très petits appareils (moins de 576px) */
@media (max-width: 575.98px) {
  body {
    font-size: 14px; /* Taille de police plus petite */
  }

  .nav-link {
    margin: 5px 0; /* Marge réduite pour les liens */
  }
}

/* Petits appareils (576px et plus) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 15px;
  }
}

/* Moyens appareils (tablette, 768px et plus) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 16px; /* Taille de police standard */
  }
}

/* Grands appareils (ordinateurs portables, 992px et plus) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 17px; /* Taille de police légèrement plus grande */
  }
}

/* Très grands appareils (ordinateurs de bureau, 1200px et plus) */
@media (min-width: 1200px) {
  body {
    font-size: 18px; /* Taille de police plus grande */
  }
}
